@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #395246;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h3 {
  font-size: 16px;
}

input {
  display: none;
}

.desktop-hidden {
  display: none;
}

header {
  width: 100%;
  background-color: #323335;
  margin-bottom: 30px;
}

.header-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-nav a:hover {
  color: aqua;
}

.footer-menu-contents a:hover {
  color: aqua;
}
.hamburger-menu {
  display: none;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-content {
  left: 0; /*メニューを画面内へ*/
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #3584bb;
  transition: all 0.5s;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  padding-right: 31px;
}

.header-menu a {
  text-decoration: none;
}

.header-logo {
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 50px;
  margin-top: 5px;
}

.header-menu a {
  color: #cabc9d;
}

.swiper {
  width: 80%;
  margin-bottom: 50px;
  height: 25vw;
  animation: fadeIn 1s ease 0.3s 1 normal;
}
@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  } /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}

.menu {
  display: flex;
  background-color: #cabc9d;
  padding: 50px;
  margin: 0 auto;
  justify-content: space-around;
  width: 80%;
}

.menu-contents {
  position: relative;
}

.menu-contents img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.menu-contents h1 {
  font-size: 20px;
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: mintcream;
}

.menu-wrapper {
  background-color: #cabc9d;
  margin-bottom: 80px;
}

.title {
  width: 80%;
  margin: 0 auto;
}

.title h1 {
  margin: 10px;
}

.Overview {
  margin: 0 0 80px;
}
.spec-menu {
  width: 80%;
  background-color: ghostwhite;
  margin: 0 auto 40px;
  justify-content: space-around;
}

.spec-menu p {
  width: 80%;
  background-color: ghostwhite;
  font-weight: normal;
}
.spec {
  display: flex;
  border-bottom: solid 1px #323335;
}
.border {
  border-bottom: solid 1px #323335;
  width: 100%;
}
.spec p {
  margin-left: 50px;
}
.txt p {
  margin: 0 auto;
  padding: 20px 0;
}
.spec-title {
  width: 20%;
  white-space: nowrap;
  display: flex;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  margin: 0;
}

.spec-title p {
  background-color: #c4c4c4;
}
.buy {
  width: 80%;
  background-color: white;
  margin: 0 auto 50px;
  text-align: center;
  color: #323335;
}
.buy-item {
  color: #fff;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  padding: 30px;
  white-space: nowrap;
}
.buy-list {
  padding: 20px 0;
}

.news {
  width: 80%;
  margin: 120px auto 120px;
}

.title {
  background-color: ghostwhite;
  padding: 1px;
  text-align: center;
  border-bottom: solid 1px #323335;
}

.desktop-hidden {
  display: none;
}

h1 {
  font-size: 26px;
}

.news-menu {
  background-color: #fff;
}

.news-contents {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #c4c4c4;
}

.guns-title {
  background-color: #fff;
  padding: 1px;
  text-align: center;
  font-size: 16px;
}

.guns-title h1 {
  margin: 10px 0 0;
  font-size: 28px;
}

.guns-contents h2 {
  font-size: 20px;
}

.guns-menu ul {
  display: flex;
  text-align: center;
  background-color: #fff;
  padding: 30px 0 10px 0;
  flex-wrap: wrap;
}

.amazon {
  background-color: rgb(238, 157, 34);
}

.rakuten {
  background-color: crimson;
}

.yahoo {
  background-color: rgb(123, 208, 247);
}

.amazon a {
  color: #323335;
}

.rakuten a {
  color: #fff;
}

.yahoo a {
  color: #fff;
}

.fal {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.guns-contents {
  width: 19%;
  text-align: center;
  margin: 5px 5px;
}

.footer-top {
  background-color: #323335;
  padding-bottom: 30px;
  color: #fff;
  display: flex;
}

.footer-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.footer-menu-title h3 {
  font-size: 16px;
  background-color: #2d8b5e;
  display: inline-block;
  padding: 4px;
}

.footer-item li {
  white-space: nowrap;
}

.option {
  margin-right: 20px;
}

.footer-menu-contents a {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-menu-contents li {
  margin: 5px 0;
}

.footer-item {
  width: 20%;
}

.ac-menu a {
  color: #333;
  text-decoration: none;
}

.ac-menu {
  width: 100%;
  margin: 0 auto;
  display: none;
  background-color: #323335;
  padding: 50px;
}

.ac-menu ul {
  display: none;
}

.ac-menu ul.active {
  display: block;
}

.ac-menu a {
  transition: 0.3s;
}

.ac-menu a:hover {
  opacity: 0.7;
}

.ac-menu > li > a {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eee;
  border-bottom: solid 1px #333;
}

.ac-menu > li > a::after {
  content: ">";
  transform: rotate(90deg);
}

.ac-menu > li > a.active::after {
  transform: rotate(-90deg) translateY(-3px);
}

.ac-menu > li > ul a {
  padding: 10px;
  display: block;
  background-color: #eee;
}

.border {
  border-bottom: solid 5px #c4c4c4;
  width: 92%;
  margin: 0 auto 40px;
}

footer {
  background-color: #323335;
}

.footer-nav ul {
  justify-content: center;
  display: flex;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav-contents {
  color: #cabc9d;
  padding: 5px;
}

.footer-nav-contents p {
  white-space: nowrap;
}

@media screen and (max-width: 1250px) {
  .ac-menu {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }

  .spec-title {
    font-size: 20px;
    width: 20%;
    white-space: nowrap;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    margin: 0;
  }

  .swiper {
    margin-bottom: 30px;
  }

  .guns-menu ul {
    display: flex;
  }

  .swiper {
    margin-bottom: 60px;
  }

  .menu-wrapper {
    width: 100%;
    background-color: #cabc9d;
  }

  .menu {
    width: 80%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-contents {
    margin: 5px;
    width: calc(50% - 10px);
  }

  .menu-contents img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .buy-item {
    width: 80%;
  }

  .menu-contents h1 {
    font-size: 20px;
    width: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: mintcream;
  }
  h2 {
    font-size: 30px;
  }

  .guns-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .guns-contents {
    margin: 5px;
    width: calc(50% - 10px);
  }

  .guns-contents img {
    width: 80%;
  }

  .footer-top {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .footer-nav-contents p {
    font-size: 10px;
  }

  .desktop-hidden {
    display: block;
  }

  .spec-title {
    font-size: 16px;
    width: 30%;
    white-space: nowrap;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    margin: 0;
  }

  .menu h1 {
    white-space: nowrap;
  }

  .desktop-hidden {
    display: block;
  }

  .guns-contents p {
    font-size: 10px;
  }

  .swiper {
    margin-bottom: 25px;
  }

  .txt p {
    margin: 0 auto;
    font-size: 10px;
    padding: 10px 0;
  }

  .menu-contents img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .news {
    margin: 50px auto 30px;
  }

  .spec p {
    margin: 10px;
  }

  .buy-item {
    width: 80%;
  }
}
