@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #395246;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  background-color: #323335;
  justify-content: space-around;
  margin-bottom: 30px;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  padding-right: 31px;
}

.header-logo {
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 50px;
  margin-top: 5px;
}

.header-menu a {
  color: #cabc9d;
}

.swiper {
  width: 100%;
  margin-bottom: 100px;
}

.menu {
  display: flex;
  background-color: #cabc9d;
  padding: 50px;
  margin: 0;
  justify-content: space-around;
}

.menu-contents {
  position: relative;
}

.menu-contents h1 {
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: mintcream;
}
